@{
    ViewBag.Title = "Home Page";
        }
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/People.js"></script>
<h2>jQuery</h2>
<div>
     <label for="searchTextBox">Search:</label>
        <input type="text" class="txt200" placeholder="Type to search (t)" id="searchTextBox" />
        <br /><br />
        <table class="ui-table" id="peopleTable">
            <thead class="k-grid-header-wrap">
                <tr>
                    <th class="cln100">First Name</th>
                    <th class="cln100">Last Name</th>
                    <th class="cln200">Address</th>
                    <th class="cln100">Age</th>
                    <th class="cln200">Interests</th>
                    <th class="cln100">Picture</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

</div>